.join-newsletter-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #feb101;
  padding: 120px 0px 120px 0px;
}

.join-newsletter-container .text-area {
  width: 50%;
  text-align: center;
}

.join-newsletter-container .text-area h2 {
  font-size: 46px;
  font-weight: 700;
  color: #ffffff;
}

.join-newsletter-container .text-area p {
  padding-top: 20px;
  color: #ffffff;
}

.join-newsletter-container .email-input {
  width: 30%;
  padding-top: 40px;
}
.join-newsletter-container .email-input button {
  padding: 10px 30px 10px 30px;
}
