.header {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 10vh;
}

.header .header-info-bar {
  height: 4vh;
  width: 100%;
  background-color: #42264d;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 80px 0px 80px;
  position: fixed;
  z-index: 10;
}

.header .header-info-bar .contact-details {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 28%;
}

.header .header-info-bar .contact-details span {
  padding-left: 5px;
}

.nav-bar-container {
  display: flex;
  flex-direction: column;
  background-color: gray;
  /* height: 15vh; */
}

.header .nav-bar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px 80px 20px 80px;
  background-color: #000000;
  color: #ffffff;
  z-index: 10;
  position: fixed;
  /* position: sticky; */
  top: 4vh;

  /* border-bottom-right-radius: 100px;
  border-bottom-left-radius: 100px; */
}

.header .nav-left,
.header .nav-right {
  display: flex;
  width: 50%;
  align-items: center;
}

.header .nav-items {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 70%;
  font-size: 22px;
  padding-left: 40px;
}

.header .nav-items a {
  text-decoration: none;
  color: #ffffff;
}

.header .nav-items a:focus {
  color: #ff6347;
  font-weight: 600;
}

.header .nav-items a:hover {
  color: #ff6347;
}

.header .nav-right {
  justify-content: flex-end;
}

.header .nav-icons {
  padding-left: 40px;
  display: flex;
  justify-content: space-between;
  width: 18%;
}

.header .nav-icons .icon:hover {
  color: #ff6347;
}

.header .nav-icons .icon:focus {
  color: #ff6347;
}
