/*

  Products

*/
.products-container {
  padding-bottom: 20px;
}

.products-header-row {
  display: flex;
  margin-top: 12vh;
  align-items: center;
}

.product-input-form,
.product-status,
.product-organization {
  padding: 20px;
  margin-top: 20px;
}
