.premium-collection-card {
  width: 300px;
  height: 500px;
  /* padding: 40px 80px 40px 80px; */
  background-color: #ffffff;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* align-items: center; */
  margin: 40px 20px 40px 20px;
}

.premium-collection-card .text-area {
  padding: 10px 20px 20px 20px;
}

.premium-collection-card button {
  border-radius: 100%;
  padding: 10px;

  margin-left: 20px;
}
