.shop-container {
  display: flex;
  width: 100%;
  padding: 0px 80px 80px 80px;
  /* background-color: gainsboro; */
}

.shop-container .sidebar {
  padding: 40px;
}

.shop-container .sidebar .searchbar {
  display: flex;
  width: 80%;
}

.shop-container .sidebar .price-range {
  padding: 40px 0px 40px 0px;
}

.shop-container .sidebar h3 {
  padding-bottom: 20px;
}

.shop-container .sidebar .product-categories h6 {
  line-height: 30px;
  font-size: 18px;
}
.shop-container .sidebar .product-categories .category-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}

.shop-container .sidebar .featured-products {
  padding-top: 80px;
}

.shop-container .sidebar .featured-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.shop-container .sidebar .featured-item span {
  color: #ff6347;
  font-size: 20px;
  font-weight: 700;
}

.shop-container .products-container {
  display: flex;
  flex-wrap: wrap;
  padding-top: 20px;
}
